:root {
  --primary: #0d163a;
  --secondary: ;
  --borderColor: #dededeb2;
  --background: #d9d9d9;
  --blue: #4745a4;
  --yellow: #f9ba33;
  --green: #3bbb6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 0.2px solid lime; */
}

hr {
  border: 1px solid var(--borderColor);
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  min-height: 100vh;
  background-color: rgb(243, 242, 242);
}

.container {
  display: grid;
  gap: 10px;
  align-items: start;
  /* background-color: violet; */
  /* grid-template-columns: 1fr; */
}

@media screen and (min-width: 768px) {
  .container {
    /* background: red; */
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    gap: 10px;
    grid-template-columns: 3fr 13fr;
  }
}
