.main-grid {
  min-height: 100vh;
  display: grid;
  gap: 8px;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px auto auto auto auto;
}

@media screen and (min-width: 768px) {
  .main-grid {
    padding: 5px;
    gap: 14px;
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px auto auto;
  }

  .main-grid * {
    /* border: 1px solid lime; */
  }
}

@media screen and (min-width: 1080px) {
  .main-grid {
    height: 100vh;
    gap: 20px;
    align-items: start;
    height: fit-content;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px auto auto;
  }

  .main-grid > * {
    height: fit-content;
    /* border: 1px solid lime; */
  }
}

.main-grid > div,
.main-grid > form {
  height: 100%;
}
