.utility-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 0.5em 1.5em;

  height: 40px;
  margin: 8px 10px 0px 10px;
}

.right-drawer {
  display: none;
}

.utility-panel > div,
.utility-panel > p {
  display: flex;
  align-items: center;
}

.utility-panel > div > span {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .utility-panel {
    display: none;
  }
}
